.#*
*~
*#
#*
*.log
*.tmp
.DS_Store
**/npm-cache
/node_modules
/tmp
.idea/
.vscode/
.idea/workspace.xml
dist/docs/
/dist
**node_modules
NOTES.md

pusher/
public/

fireedit/

server.coffee
server.js
test.html
fireedit/   