

<div class="container p-3">
  <div class="offset-3 col-6">
    <div class="card">
      <div class="card-header">
        Log In Form
      </div>
      <div class="card">
        <form (submit)="login()">
    
             
          
           <div id="address">
            <label  for="email" >Email Address</label>
            <input id="email"  type="email" class="mail">
          </div>
          
          
          <div id="pass">
            <label for="password">Password</label>
            <input id="password" type="password" class="passw">
          </div>
         
          <div id="butt">
            <button type="submit" id="btnsubmit" class="btn btn-primary btn-block font-weight-bold">Log In
              </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>



    



<br >