textarea {
   // background: linear-gradient(45deg,#33b1f8 37%,#6e90f6 100%);
   position: relative;
   margin: auto;
   background-color: ghostwhite; 
   height: 99%;
   width: 1020px;
   height: 400px;
   right: -132px;
    top: 0;
    font-size: 15pt;
    //padding-top: 20px;
    resize: none;
    color: black;
    align-content: right;
    
    
    //border: solid 4px darkslategrey ;
    //padding: 40px  0px  20px  15px;
    //margin: 4px  4px  4px  4px;
    
  }